<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
 
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:properties/application.properties"/>
    </bean>

    <bean name="blockService" class="org.egreenbriar.service.BlockService" init-method="initialize">
        <property name="housesFile" value="${houses.csv.file}" />
    </bean>

    <bean name="blockCaptainService" class="org.egreenbriar.service.BlockCaptainService" init-method="initialize">
        <property name="captainFile" value="${blockcaptain.csv.file}" />
        <property name="changeService" ref="changeService" />
    </bean>

    <bean name="changeService" class="org.egreenbriar.service.ChangeService">
        <property name="changesFile" value="${changes.file}" />
    </bean>

    <bean name="districtService" class="org.egreenbriar.service.DistrictService" init-method="initialize">
        <property name="houseService" ref="houseService" />
    </bean>

    <bean name="houseService" class="org.egreenbriar.service.HouseService" init-method="initialize">
        <property name="housesFile" value="${houses.csv.file}" />
    </bean>

    <bean name="officierService" class="org.egreenbriar.service.OfficierService" init-method="initialize">
        <property name="officierFile" value="${officiers.csv.file}" />
    </bean>

    <bean name="countMembersService" class="org.egreenbriar.service.CountMembersService">
        <property name="storageDirectory" value="${storage.directory}" />
    </bean>

    <bean name="zeroBlocksService" class="org.egreenbriar.service.ZeroBlocksService">
        <property name="blockService" ref="blockService" />
        <property name="blockCaptainService" ref="blockCaptainService" />
        <property name="districtService" ref="districtService" />
        <property name="houseService" ref="houseService" />
        <property name="officierService" ref="officierService" />
    </bean>

</beans>